{% extends 'layout.html' %}
{% load static %}

{% block content %}
    
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Cart</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">Cart</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <div class="cart-main-area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="#">               
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                        <th class="product-save">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart_element in cart_elements %}
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="{{cart_element.cart_items.product.product_id.img.url}}" alt="product img" /></a></td>
                                            <td class="product-name"><a href="#">{{cart_element.cart_items.product.product_id.name}}</a></td>
                                            <td class="product-price"><span class="amount">{{cart_element.cart_items.product.product_id.new_price}} $</span></td>
                                            <td class="product-quantity"><input type="number" id = 'qty' min="1" max="{{cart_element.cart_items.product.quantity}}" value="{{cart_element.cart_items.quantity}}" /></td>
                                            <td class="product-subtotal">{{cart_element.cart_items.total}} $</td>
                                            <td class="product-remove" onclick = "removeBasket($(this).attr('data'))" type="button" data="{{ cart_element.cart_items.product.product_id.pk }}"><a href="{% url 'cart' %}">X</a></td>
                                            <td class="product-save">
                                            <div class="buttons-cart"><input style="width: 100%;" onclick = "AddToBasketInDetail($(this).attr('data'))" type="button" data="{{ cart_element.cart_items.product.product_id.pk }}" type="submit" value="Update Cart" /></div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    
                                    <a href="{% url 'product' %}">Continue Shopping</a>
                                </div>
                                <div class="coupon">
                                    <h3>Coupon</h3>
                                    <p>Enter your coupon code if you have one.</p>
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Cart Totals</h2>
                                    <table>
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td><span class="amount">{{grand_total}} $</span></td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Shipping</th>
                                                <td>
                                                    <ul id="shipping_method">
                                                        <li>
                                                            <input type="radio" /> 
                                                            <label>
                                                                Flat Rate: <span class="amount">£7.00</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <input type="radio" /> 
                                                            <label>
                                                                Free Shipping
                                                            </label>
                                                        </li>
                                                        <li></li>
                                                    </ul>
                                                    <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a></p>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong><span class="amount">{{grand_total}} $</span></strong>
                                                </td>
                                            </tr>                                           
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="{% url 'checkout'%}">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <!-- cart-main-area end -->
{% endblock content %}
{% block js %}
<script src="{% static 'js/cart.js'%}"></script>
{% endblock js %}